crewai==0.98.0
crewai-tools
fastapi==0.115.7
uvicorn==0.34.0
sqlparse==0.5.3
psycopg2==2.9.10
PyYAML==6.0.2
SQLAlchemy==2.0.37
python-dotenv==1.0.1
pydantic==2.10.6
openai==1.60.1
pydantic-settings==2.7.1

